<!-- footer -->
<section class="relative overflow-clip">
    <div class="bg-primary min-h-[404px]">
        <div class="container mx-auto px-10">
            <div class="pt-[58px] pb-[73px] max-w-[750px] fade-to-right">
                <h1 class="md:text-[35px] lg:text-[50px] text-[30px] text-white font-bold mb-[15px]">Say Goodbye to Hassles Meet Your Effortless Vet Clinics Operations</h1>
                <a href="#" class="btn bg-white text-primary">Book FREE Demo Now</a>
            </div>
        </div>
    </div>
    <div class="bg-[#0D1C30] min-h-[404px] relative">
        <div class="absolute bottom-0 w-full md:px-0 px-5">
            <p class="md:text-xl text-base text-white text-center mb-[17px]">2023 Vethub powered by VetTalk Indonesia</p>
        </div>
    </div>
    <!-- hero -->
    <div class="container mx-auto absolute top-0 right-[50px] left-0">
        <div>
            <span class="absolute w-[544px] h-[544px] rounded-full bg-gradient-to-b from-primary to-[#FFFFFF] opacity-10 right-[25px] top-[85px]"></span>
            <div class="fade-to-left h-screen">
                <img src="/images/monitor-1.png" alt="Image" class="absolute top-[321px] md:top-[235px] lg:top-[160px] xl:top-[115px] right-0 lg:right-0 xl:right-[-80px] w-[70%] md:w-[60%] xl:w-auto" />
                <img src="/images/laptop-3.png" alt="Image" class="absolute top-[395px] md:top-[375px] lg:top-[345px] right-[125px] md:right-[225px] lg:right-[300px] w-[52%] md:w-[43%] xl:w-auto" />
            </div>
        </div>
    </div>
</section>