@section Styles{
    <style>
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        .spinner-container {
            width: 40px;
            height: 40px;
            position: relative;
        }

        .spinner {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #007bff;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;
            animation: double-bounce 2s infinite ease-in-out;
        }

        .double-bounce1, .double-bounce2 {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #007bff;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;
            animation: double-bounce 2s infinite ease-in-out;
        }

        .double-bounce2 {
            animation-delay: -1s;
        }

        @@keyframes double-bounce {
            0%, 100% {
                transform: scale(0);
            }

            50% {
                transform: scale(1);
            }
        }
    </style>
}

<!-- header -->
<section>
    @Html.Partial("_HeaderPartial")
</section>

<div class="overlay" style="display: none;">
    <div class="spinner-container">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>

<div class="container mx-auto lg:px-0 px-5 pt-[95px]">
    <div class="container">
        <div class="text-center">
            <h1 class="text-primary text-registration-title font-bold mb-[35px] lang" key="demo-request-registration">Demo Request Registration</h1>
        </div>
    </div>
</div>
<section class="container mx-auto mb-[82px]">
    <div class="flex flex-row items-center gap-[60px]">
        <div class="mx-auto container-reg-form-xl rounded-[40px] bg-[#F3F8FC] px-[60px] py-[32px]">
            <form id="book-form" method="post">
                @Html.AntiForgeryToken()

                <h3 class="text-primary md:text-[30px] lg:text-[40px] xl:text-[50px] text-[25px] font-semibold lang" key="personal-information">Personal Information</h3>
                <div class="form-group">
                    <label class="text-[20px]"><span class="lang" key="full-name">Full Name</span></label>
                    <input type="text" name="Name" class="form-control" required />
                </div>
                <div class="flex flex-row gap-[28px]">
                    <div class="form-group">
                        <label class="text-[20px]"><span class="lang" key="position">Position</span></label>
                        <input type="text" name="Job" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label class="text-[20px]">Email</label>
                        <input type="email" name="Email" class="form-control" required />
                    </div>
                </div>
                <div class="flex w-1/2 pr-[14px] mb-[20px]">
                    <div class="form-group">
                        <label class="text-[20px]"><span class="lang" key="whatsapp-active">Whatsapp Active</span></label>
                        <input type="text" name="PhoneNumber" class="form-control" required />
                    </div>
                </div>

                <h3 class="text-primary md:text-[30px] lg:text-[40px] xl:text-[50px] text-[25px] font-semibold lang" key="clinic-information"><span>Clinic Information</span></h3>
                <div class="form-group">
                    <label class="text-[20px]"><span class="lang" key="clinic-name">Clinic Name</span></label>
                    <input type="text" name="ClinicName" class="form-control" required />
                </div>
                <div class="form-group">
                    <label class="text-[20px] required"><span class="lang" key="clinic-type">Type</span></label>
                    <div class="flex gap-4">
                        <div class="flex items-center">
                            <input type="radio" value="Veterinary Practice" name="ClinicType" class="w-[25px] h-[25px]" checked />
                            <label class="ml-2 text-[20px] lang" key="veterinary-practice">Veterinary Practice</label>
                        </div>
                        <div class="flex items-center">
                            <input type="radio" value="Veterinary Clinic" name="ClinicType" class="w-[25px] h-[25px]" />
                            <label class="ml-2 text-[20px] lang" key="veterinary-clinic">Veterinary Clinic</label>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row gap-[28px]">
                    <div class="form-group">
                        <label class="text-[20px]"><span class="lang" key="clinic-address">Address</span></label>
                        <input type="text" name="ClinicAddress" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label class="text-[20px]"><span class="lang" key="city">City</span></label>
                        <input type="text" name="ClinicCity" class="form-control" required />
                    </div>
                </div>
                <div class="form-group mt-[30px]">
                    <p class="text-[20px] lang" key="do-you-want-to-subscribe-now">Do you want to subscribe now?</p>
                </div>
                <div class="form-group">
                    <div class="flex items-center">
                        <input type="checkbox" value="true" name="IsNeedSubscribe" class="w-[25px] h-[25px]" />
                        <label class="ml-2 text-[18px] font-medium lang" key="yes-i-want-to-subscribe-now">Yes, I want to subscribe now</label>
                    </div>
                </div>
                <div class="mt-[30px]">
                    <button type="submit" class="btn bg-primary text-white min-w-[330px] text-center cursor-pointer mb-[33px] lang" key="send-request">Send Request</button>
                </div>
            </form>
        </div>
        <div class="mx-auto container-reg-form-sm rounded-[40px] bg-[#F3F8FC] px-[60px] py-[32px]">
            <form id="book-form" method="post">
                @Html.AntiForgeryToken()

                <h3 class="text-primary md:text-[30px] lg:text-[40px] xl:text-[50px] text-[25px] font-semibold lang" key="personal-information">Personal Information</h3>
                <div class="form-group">
                    <label class="text-[20px]"><span class="lang" key="full-name">Full Name</span></label>
                    <input type="text" name="Name" class="form-control" required />
                </div>
                <div class="form-group">
                    <label class="text-[20px]"><span class="lang" key="position">Position</span></label>
                    <input type="text" name="Job" class="form-control" required />
                </div>
                <div class="form-group">
                    <label class="text-[20px]">Email</label>
                    <input type="email" name="Email" class="form-control" required />
                </div>
                <div class="form-group">
                    <label class="text-[20px]"><span class="lang" key="whatsapp-active-sm">Whatsapp Active</span></label>
                    <input type="text" name="PhoneNumber" class="form-control" required />
                </div>

                <h3 class="text-primary md:text-[30px] lg:text-[40px] xl:text-[50px] text-[25px] font-semibold lang" key="clinic-information"><span>Clinic Information</span></h3>
                <div class="form-group">
                    <label class="text-[20px]"><span class="lang" key="clinic-name">Clinic Name</span></label>
                    <input type="text" name="ClinicName" class="form-control" required />
                </div>
                <div class="form-group">
                    <label class="text-[20px] required"><span class="lang" key="clinic-type">Type</span></label>
                    <div class="flex gap-4">
                        <div class="flex items-center">
                            <input type="radio" value="Veterinary Practice" name="ClinicType" class="w-[25px] h-[25px]" checked />
                            <label class="ml-2 text-[20px] lang" key="veterinary-practice">Veterinary Practice</label>
                        </div>
                        <div class="flex items-center">
                            <input type="radio" value="Veterinary Clinic" name="ClinicType" class="w-[25px] h-[25px]" />
                            <label class="ml-2 text-[20px] lang" key="veterinary-clinic">Veterinary Clinic</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-[20px]"><span class="lang" key="clinic-address">Address</span></label>
                    <input type="text" name="ClinicAddress" class="form-control" required />
                </div>
                <div class="form-group">
                    <label class="text-[20px]"><span class="lang" key="city">City</span></label>
                    <input type="text" name="ClinicCity" class="form-control" required />
                </div>
                <div class="form-group mt-[30px]">
                    <p class="text-[20px] lang" key="do-you-want-to-subscribe-now">Do you want to subscribe now?</p>
                </div>
                <div class="form-group">
                    <div class="flex items-center">
                        <input type="checkbox" value="true" name="IsNeedSubscribe" class="w-[25px] h-[25px]" />
                        <label class="ml-2 text-[18px] font-medium lang" key="yes-i-want-to-subscribe-now">Yes, I want to subscribe now</label>
                    </div>
                </div>
                <div class="mt-[30px]">
                    <button type="submit" class="btn bg-primary btn-book text-white min-w-[330px] text-center cursor-pointer mb-[33px] lang" key="send-request">Send Request</button>
                </div>
            </form>
        </div>
@*         <div class="d-none lg:d-show w-[589px] rounded-[40px] border border-solid border-primary py-[50px] px-[47px] text-center">
            <p class="text-[30px] font-semibold text-primary leading-[35px] mb-5 lang" key="want-to-connect-directly-with-our-Team">Want to connect directly with our Team? Contact Now</p>
            <p class="text-[50px] font-semibold text-primary leading-[50px] mb-[37px]">0822-4000-3524 <span class="text-[40px]">(Whatsapp)</span></p>
            <a href="https://wa.me/+6282240003524?text=Halo%20saya%20tertarik%20dengan%20vethub." target="_blank" class="btn bg-primary text-white min-w-[330px] text-center cursor-pointer lang" key="chat-now">Chat Now</a>
        </div> *@
    </div>
    @* <div class="mx-auto mt-[30px] w-[589px] rounded-[40px] border border-solid border-primary py-[50px] px-[47px] text-center"> *@
    <div class="mx-auto mt-[30px] container-cta rounded-[40px] border border-solid border-primary py-[50px] px-[47px] text-center">
        <p class="text-contact-now font-semibold text-primary leading-[35px] mb-5 lang" key="want-to-connect-directly-with-our-Team">Want to connect directly with our Team? Contact Now</p>
        <p class="text-contact-wa font-semibold text-primary leading-[50px] mb-[37px]">0822-4000-3524 <span class="text-contact-wa">(Whatsapp)</span></p>
        <a href="https://wa.link/firynv" target="_blank" class="btn bg-primary btn-book text-white min-w-[330px] text-center cursor-pointer lang" key="chat-now">Chat Now</a>
    </div>
</section>

<section class="container mx-auto md:px-20 px-5 mb-[114px] fade-to-top">
    <div class="flex flex-col items-center mb-[10px]">
        <h4 class="md:text-[20px] text-[16px] font-semibold text-[#C4C7CF]">POWERED BY</h4>
        <img src="/images/logo-vettalk.png" alt="Powered By" class="md:w-[382px] md:h-[144px]" />
    </div>
    <p class="md:text-[18px] text-[14px] text-gray text-center lang" key="powered-by">VetTalk Indonesia is a pet clinic consultant that is expanding digital-based pet clinics' innovations, along with supporting veterinarians in upgrading their skills to adapt to the era of Industrial Revolution 4.0</p>
</section>

@section Scripts{
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            // Function to set ClinicType based on the selected radio button
            function setClinicType() {
                var selectedValue = $("input[name='ClinicType']:checked").val();
                var clinicTypeField = $("input[name='ClinicType']");

                if (selectedValue === "Veterinary Clinic") {
                    clinicTypeField.val("Clinic");
                } else if (selectedValue === "Veterinary Practice") {
                    clinicTypeField.val("Practice");
                }
            }

            // Initial call to setClinicType to set the value based on the default checked radio button
            setClinicType();

            // Attach a change event listener to the radio buttons to update ClinicType
            $("input[name='ClinicType']").on("change", function () {
                setClinicType();
            });

            // Rest of your form submission code here...
            $("#book-form").submit(function (event) {
                event.preventDefault(); // Prevent the default form submission

                var form = $(this);
                var url = "/PostBook";

                var overlay = $('.overlay');
                var spinnerContainer = $('.spinner-container');
                console.log(overlay);
                overlay.show();

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(), // Serialize the form data
                    headers: {
                        RequestVerificationToken: $("input[name='__RequestVerificationToken']").val()
                    },
                    success: function (response) {

                        overlay.hide();
                        Swal.fire({
                            title: 'Sukses',
                            text: 'Anda berhasil melakukan pendaftaran. Mohon tunggu tim kami untuk menghubungi Anda.',
                            icon: 'success',
                        }).then((result) => {
                            if (result.isConfirmed || result.dismiss) {
                                location.reload(); // Refresh the page
                            }
                        });

                    },
                    error: function (xhr, status, error) {
                        // Handle errors
                    }
                });
            });
        });
    </script>
}