@{
    ViewData["Title"] = "Home Page";
}

<section class="relative overflow-x-clip">
    <section class="px-5">
        @Html.Partial("_HeaderPartial")
    </section>
    <div class="container mx-auto px-5 pt-[95px] mb-[38px]">
        <div class="container mx-auto px-5 pt-[95px] mb-[38px]">
            <div class="flex justify-between items-center">
                <div class="flex-1 z-[1] lg:pr-5 fade-to-right">
                    <h1 class="text-primary md:text-[40px] xl:text-[60px] text-[30px] font-bold lang" key="app.title">Your One Stop<br />Pet Clinic Solution</h1>
                    <p class="text-gray md:text-base mb-[30px] md:text-[18px] text-[14px] lang" key="app.subtitle">We help veterinarians and veterinary clinic owners to manage clinic operations from client arrivals, bookings, payments, patient ambulators, databases of tools and medicines, and financial reports that can be updated in real time</p>
                    <div class="lg:flex flex-row gap-6 space-y-3 lg:space-y-0">
                        <a href="#" class="btn bg-primary text-white min-w-[250px] text-center uppercase lang" key="free-trial">FREE TRIAL</a>
                        <a href="#" class="btn bg-white text-primary min-w-[250px] border border-primary text-center">Whatsapp Sales</a>
                    </div>
                </div>
                <div class="flex md:flex-1 justify-end relative">
                    <div class="z-[1] fade-to-left">
                        <img src="/images/laptop-1.png" alt="image" class="w-full -mr-10 md:block hidden" />
                    </div>

                    <span class="absolute w-[527px] h-[527px] bg-white rounded-full bg-gradient-to-t from-white to-primary opacity-10 -top-20 -right-60"></span>
                </div>
            </div>
        </div>
    </div>

    <section class="container mx-auto relative px-10 fade-to-top">
        <div class="md:flex flex-wrap lg:flex-nowrap justify-between space-y-5 lg:space-y-0 lg:gap-5">
            <div class="w-full lg:max-w-[374px] min-h-[265px] mx-auto md:mx-0 border-[1px] border-[#085EB5] shadow-xl rounded-lg bg-white px-7 pb-[40px]">
                <div class="pt-[91px]">
                    <a href="#" class="text-primary md:text-[24px] text-[20px] font-bold lang" key="feature-item.0.title">Efficient operations veterinary service</a>
                    <p class="md:text-[18px] text-[14px] text-gray lang" key="feature-item.0.subtitle">We help veterinarians and veterinary clinic owners to</p>
                </div>
            </div>
            <div class="w-full lg:max-w-[374px] min-h-[265px] mx-auto md:mx-0 border-[1px] border-[#085EB5] shadow-xl rounded-lg bg-white px-7 pb-[40px]">
                <div class="pt-[91px]">
                    <a href="#" class="text-primary md:text-[24px] text-[20px] font-bold lang" key="feature-item.1.title">Efficient operations veterinary service</a>
                    <p class="md:text-[18px] text-[14px] text-gray lang" key="feature-item.1.subtitle">We help veterinarians and veterinary clinic owners to</p>
                </div>
            </div>
            <div class="w-full lg:max-w-[374px] min-h-[265px] mx-auto md:mx-0 border-[1px] border-[#085EB5] shadow-xl rounded-lg bg-white px-7 pb-[40px]">
                <div class="pt-[91px]">
                    <a href="#" class="text-primary md:text-[24px] text-[20px] font-bold lang" key="feature-item.2.title">Efficient operations veterinary service</a>
                    <p class="md:text-[18px] text-[14px] text-gray lang" key="feature-item.2.subtitle">We help veterinarians and veterinary clinic owners to</p>
                </div>
            </div>
        </div>
    </section>

    <div id="about" class="bg-gradient-to-t from-[#D6E7FA] to-[#f3f8fc] pt-[100px] -mt-[125px]">
        <!-- powered by -->
        <section class="container mx-auto mt-[110px] md:px-20 px-5 mb-[114px] fade-to-top">
            <div class="flex flex-col items-center mb-[10px]">
                <h4 class="md:text-[20px] text-[16px] font-semibold text-[#C4C7CF]">POWERED BY</h4>
                <img src="/images/logo-vettalk.png" alt="Powered By" class="md:w-[382px] md:h-[144px]" />
            </div>
            <p class="md:text-[18px] text-[14px] text-gray text-center lang" key="powered-by">VetTalk Indonesia is a pet clinic consultant that is expanding digital-based pet clinics' innovations, along with supporting veterinarians in upgrading their skills to adapt to the era of Industrial Revolution 4.0</p>
        </section>

        <!-- adds -->
        <section class="container mx-auto md:px-20 px-5 md:flex justify-end relative md:mb-[137px] block fade-to-top">
            <!-- <div class="md:flex md:w-[959px] md:h-auto max-h-[389px] rounded-[30px] shadow-lg border-[1px] border-[#F5F9FC] bg-white mx-auto relative"> -->
            <div class="md:flex md:w-[959px] rounded-[30px] shadow-lg border-[1px] border-[#F5F9FC] bg-white mx-auto relative">
                <span class="md:min-w-[45%] lg:min-w-[419px] min-h-[150px] block bg-gradient-to-t from-[#2469DF] to-[#F5F9FC] rounded-[30px]"></span>
                <div class="md:pl-[31px] md:pr-[49px] md:py-12 px-5 py-8">
                    <h2 class="text-[20px] md:text-[25px] lg:text-[30px] font-bold text-primary mb-1 lang" key="ads.title">Manage all patient and clinic operations with just your device!</h2>
                    <a href="#" class="btn bg-primary text-white uppercase lang" key="free-trial">Book FREE Demo</a>
                </div>
                <div class="absolute md:-bottom-8 md:-left-20 lg:-left-20 bottom-0 -top-12 md:top-auto">
                    <!-- <img src="/images/laptop-2.png" alt="Image" class="w-[350px] md:w-[60%] lg:w-[80%] xl:w-[521px] xl:h-[315px]" /> -->
                    <img src="/images/laptop-2.png" alt="Image" class="max-w-[350px] max-h-[315px]" />
                </div>
            </div>
        </section>

        <!-- all feature -->
        <section class="pt-[79px] pb-[90px] mb-[95px] fade-to-top">
            <div class="container mx-auto md:px-20 px-5">
                <h1 class="text-primary md:text-[35px] lg:text-[50px] xl:text-[65px] text-[30px] font-bold text-center mb-[33px] lang" key="watch-all-feature">Watch All Feature</h1>
                <div class="border-[2px] md:rounded-[30px] rounded-2xl border-primary mb-[44px] overflow-clip max-w-[1032px] max-h-[497px] mx-auto">
                    <img src="/images/all-feature.png" alt="All Feature" class="w-full" />
                </div>
                <div class="flex justify-center">
                    <a href="#" class="btn bg-primary text-white uppercase lang" key="free-trial">Book FREE Demo Now</a>
                </div>
            </div>
        </section>
    </div>

    <!-- review -->
    <section class="container mx-auto md:px-16 px-5 mb-[133px] fade-to-bottom">
        <div class="md:columns-2 md:gap-11 space-bottom-8">
            <div class="w-full inline-block fade-to-top">
                <h1 class="text-primary md:text-[35px] lg:text-[50px] xl:text-[65px] text-[30px] font-bold md:-ml-10 lang" key="what-they-say-sbout-us">What They Say<br />About Us?</h1>
            </div>
            <div class="w-full inline-block fade-to-top">
                <div class="w-full md:px-8 px-5 md:py-7 py-4 rounded-[10px] bg-primary text-white">
                    <div class="flex items-center justify-between xl:flex-nowrap flex-wrap">
                        <div class="flex items-center">
                            <div class="w-[65px] h-[65px] rounded-full bg-white overflow-hidden">
                                <img src="/images/user-1.png" />
                            </div>
                            <p class="px-4 break-words"><span class="lang" key="testimony.0.name">Drh. Putri Ayu Pertiwi</span><br />(<span class="lang" key="testimony.0.position">Owner Petclinic</span>)</p>
                        </div>
                        <div class="flex gap-2 w-full xl:w-auto mt-1 xl:mt-0 justify-end">
                            <img src="/images/ic-star.svg" class="xl:w-auto md:w-6 w-5" />
                            <img src="/images/ic-star.svg" class="xl:w-auto md:w-6 w-5" />
                            <img src="/images/ic-star.svg" class="xl:w-auto md:w-6 w-5" />
                            <img src="/images/ic-star.svg" class="xl:w-auto md:w-6 w-5" />
                            <img src="/images/ic-star.svg" class="xl:w-auto md:w-6 w-5" />
                        </div>
                    </div>
                    <hr class="my-4" />
                    <p class="lg:text-[18px] text-[14px] lang" key="testimony.0.content">We help veterinarians and veterinary clinic owners to manage clinic operations from client arrivals, bookings, payments, patient ambulator, databases of tools and medicines, and financial reports that can be updated in real time</p>
                </div>
            </div>
            <div class="w-full inline-block fade-to-top">
                <div class="w-full md:px-8 px-5 md:py-7 py-4 rounded-[10px] border-[1px] border-[#D9D9D9]">
                    <div class="flex items-center justify-between xl:flex-nowrap flex-wrap">
                        <div class="flex items-center">
                            <div class="w-[65px] h-[65px] rounded-full bg-white overflow-hidden">
                                <img src="/images/user-2.png" />
                            </div>
                            <p class="px-4 break-words"><span class="lang" key="testimony.1.name">Drh. Putri Ayu Pertiwi</span><br />(<span class="lang" key="testimony.1.position">Owner Petclinic</span>)</p>
                        </div>
                        <div class="flex gap-2 w-full xl:w-auto mt-1 xl:mt-0 justify-end">
                            <img src="/images/ic-star.svg" class="xl:w-auto md:w-6 w-5" />
                            <img src="/images/ic-star.svg" class="xl:w-auto md:w-6 w-5" />
                            <img src="/images/ic-star.svg" class="xl:w-auto md:w-6 w-5" />
                            <img src="/images/ic-star.svg" class="xl:w-auto md:w-6 w-5" />
                            <img src="/images/ic-star.svg" class="xl:w-auto md:w-6 w-5" />
                        </div>
                    </div>
                    <hr class="my-4 border-border" />
                    <p class="lg:text-[18px] text-[14px] lang" key="testimony.1.content">We help veterinarians and veterinary clinic owners to manage clinic operations from client arrivals, bookings, payments, patient ambulator, databases of tools and medicines, and financial reports that can be updated in real time</p>
                </div>
            </div>
            <div class="w-full inline-block fade-to-top">
                <div class="w-full md:px-8 px-5 md:py-7 py-4 rounded-[10px] border-[1px] border-[#D9D9D9]">
                    <div class="flex items-center justify-between xl:flex-nowrap flex-wrap">
                        <div class="flex items-center">
                            <div class="w-[65px] h-[65px] rounded-full bg-white overflow-hidden">
                                <img src="/images/user-3.png" />
                            </div>
                            <p class="px-4 break-words"><span class="lang" key="testimony.2.name">Drh. Putri Ayu Pertiwi</span><br />(<span class="lang" key="testimony.2.position">Owner Petclinic</span>)</p>
                        </div>
                        <div class="flex gap-2 w-full xl:w-auto mt-1 xl:mt-0 justify-end">
                            <img src="/images/ic-star.svg" class="xl:w-auto md:w-6 w-5" />
                            <img src="/images/ic-star.svg" class="xl:w-auto md:w-6 w-5" />
                            <img src="/images/ic-star.svg" class="xl:w-auto md:w-6 w-5" />
                            <img src="/images/ic-star.svg" class="xl:w-auto md:w-6 w-5" />
                            <img src="/images/ic-star.svg" class="xl:w-auto md:w-6 w-5" />
                        </div>
                    </div>
                    <hr class="my-4 border-border" />
                    <p class="lg:text-[18px] text-[14px] lang" key="testimony.2.content">We help veterinarians and veterinary clinic owners to manage clinic operations from client arrivals, bookings, payments, patient ambulator, databases of tools and medicines, and financial reports that can be updated in real time</p>
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("_FooterPartial")
