@{
ViewData["Title"] = "Home Page";
}

<!-- Modal Popup -->
<div id="popupModal">
    <div id="popupContent">
        <span id="closeBtn" onclick="closePopup()">&times;</span>
        <h2>Vethub Video</h2>
        <div class="relative border-[2px] md:rounded-[30px] rounded-2xl border-primary overflow-clip max-w-[1024px] max-h-[575px] mx-auto">
            <div id="driveVideo">
                <iframe src="https://drive.google.com/file/d/1U4i8R6N4IvMXCwAx-5w2orALiKyZdL7F/preview" allow="autoplay"></iframe>
            </div>
        </div>

    </div>
</div>

<section class="relative overflow-x-clip">
</section>
<section class="px-20">
    @Html.Partial("_HeaderPartial")
</section>
<div class="container mx-auto px-5 pt-[95px] pb-[140px] mb-[38px]">
    <div class="container mx-auto container-title">
        <div class="flex justify-between items-center">
            <div class="flex-1 z-[1] lg:pr-5 text-center fade-to-right">
                <h1 class="text-primary text-center md:text-[40px] xl:text-[60px] text-[30px] font-bold lang" key="app.title">
                    One Application to Manage Veterinary Clinics <br /> More Efficient & Professional
                </h1>
                <p class="text-gray text-center md:text-base mb-[30px] md:text-[18px] text-[14px] text-subtitle lang" key="app.subtitle">
                    Manage schedules, stock and medical records easily. Transform your veterinary clinic with Vethub
                </p>
                <div class="gap-6 space-y-3 lg:space-y-0 items-center">
                    <a href="https://wa.link/firynv" class="btn bg-primary text-white min-w-[250px] text-center uppercase lang" key="free-trial">FREE TRIAL</a>
                    <a href="javascript:void(0)" class="btn bg-white text-primary min-w-[250px] border border-primary text-center" key="watch-video" onclick="openPopup()">Watch Video</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-gradient-to-t from-[#D6E7FA] to-[#f3f8fc] pt-[100px] -mt-[125px]">
    <section class="container hero-section fade-to-top">
        <div class="container mx-auto md:px-20 px-10">
            <img src="/images/main_banner.png" alt="Image" class="hero-image-1" />
        </div>
    </section>
    <!-- powered by -->
    <section class="container mx-auto mt-[200px] md:px-20 px-5 mb-[100px] fade-to-top">
        <div class="flex flex-col items-center mb-[10px]">
            <h4 class="md:text-[20px] text-[16px] font-semibold text-[#C4C7CF]">POWERED BY</h4>
            <img src="/images/logo-vettalk.png" alt="Powered By" class="md:w-[382px] md:h-[144px]" />
        </div>
            <p class="md:text-[18px] text-[14px] text-gray text-center lang" key="powered-by">Vettalk Indonesia adalah start-up dokter hewan Indonesia yang mengembangkan inovasi klinik hewan berbasis digital serta mendukung dokter hewan dalam beradaptasi dengan era Revolusi Industri</p>
    </section>

    <section class="container feature-section fade-to-top">
        <div class="feature-items">
            <div class="feature-card relative overflow-hidden rounded-lg shadow-lg">
                <!-- Background Image -->
                <img src="~/images/hero1.png" alt="Feature Image" class="absolute inset-0 h-full w-full object-cover" />

                <!-- Inner Card Overlay -->
                <div class="feature-sub-card absolute bottom-4 left-4 right-4 bg-white p-4 rounded-lg shadow-md">
                    <a href="#" class="text-primary text-[20px] md:text-[24px] font-bold lang" key="feature-item.0.title">
                        Efisiensi Operasional Klinik Hewan
                    </a>
                    <p class="text-gray text-[14px] mt-[10px] md:text-[18px] lang" key="feature-item.0.subtitle">
                            Kelola operasional klinik hewan mulai dari pendaftaran pasien, medical checkup, farmasi, pembayaran hingga pelaporan
                    </p>
                </div>
            </div>
            <div class="feature-card relative overflow-hidden rounded-lg shadow-lg">
                <!-- Background Image -->
                <img src="~/images/hero2.png" alt="Feature Image" class="absolute inset-0 h-full w-full object-cover" />

                <!-- Inner Card Overlay -->
                <div class="feature-sub-card absolute bottom-4 left-4 right-4 bg-white p-4 rounded-lg shadow-md">
                    <a href="#" class="text-primary text-[20px] md:text-[24px] font-bold lang" key="feature-item.1.title">
                        Efisiensi Operasional Klinik Hewan
                    </a>
                    <p class="text-gray text-[14px] mt-[10px] md:text-[18px] lang" key="feature-item.1.subtitle">
                        Kelola operasional klinik hewan mulai dari pendaftaran pasien, medical checkup, farmasi, pembayaran hingga pelaporan
                    </p>
                </div>
            </div>
            <div class="feature-card relative overflow-hidden rounded-lg shadow-lg">
                <!-- Background Image -->
                <img src="~/images/hero3.png" alt="Feature Image" class="absolute inset-0 h-full w-full object-cover" />

                <!-- Inner Card Overlay -->
                <div class="feature-sub-card absolute bottom-4 left-4 right-4 bg-white p-4 rounded-lg shadow-md">
                    <a href="#" class="text-primary text-[20px] md:text-[24px] font-bold lang" key="feature-item.2.title">
                        Efisiensi Operasional Klinik Hewan
                    </a>
                    <p class="text-gray text-[14px] mt-[10px] md:text-[18px] lang" key="feature-item.2.subtitle">
                        Kelola operasional klinik hewan mulai dari pendaftaran pasien, medical checkup, farmasi, pembayaran hingga pelaporan
                    </p>
                </div>
            </div>
        </div>
        <div class="feature-button flex justify-center">
            <a href="https://wa.link/firynv" class="btn bg-primary text-white uppercase lang text-center" key="free-trial">Book FREE Demo Now</a>
            <a href="https://wa.link/firynv" target="_blank" class="btn bg-white text-primary min-w-[250px] border border-primary text-center btn-wa-sales">Whatsapp Sales</a>
        </div>
    </section>
    <section class="container mx-auto md:px-20 px-10 mb-[133px] fade-to-bottom">
        <div class="flex-1 z-[1] lg:pr-5 text-center fade-to-right">
            <h1 class="text-primary text-center md:text-[40px] xl:text-[60px] text-[30px] py-[50px] font-bold lang" key="app.title.register">
                Solusi Lengkap Pelayanan Kesehatan<br />Hewan Terintegrasi
            </h1>
            <div class="solution-container">
                <div class="solution-card solution-card-bl fade-to-top">
                    <div class="solution-icon">
                        <img src="~/images/icons/medicalrecord.svg" alt="Rekam Medis Elektronik" />
                    </div>
                    <div class="solution-text-card">
                        <span class="text-sm font-medium lang" key="solution-card.1.subtitle">Rekam Medis Elektronik</span>
                    </div>
                </div>

                <div class="solution-card solution-card-wh fade-to-bottom">
                    <div class="solution-icon">
                        <img src="~/images/icons/ownerreg.svg" alt="Pendaftaran Online & Pasien" />
                    </div>
                    <div class="solution-text-card">
                        <span class="text-sm font-medium lang" key="solution-card.2.subtitle">Pendaftaran Owner & Pasien</span>
                    </div>
                </div>

                <div class="solution-card solution-card-bl fade-to-top">
                    <div class="solution-icon">
                        <img src="~/images/icons/schedule.svg" alt="Pengelolaan Pasien" />
                    </div>
                    <div class="solution-text-card">
                        <span class="text-sm font-medium lang" key="solution-card.3.subtitle">Penjadwalan Pasien</span>
                    </div>
                </div>

                <div class="solution-card solution-card-wh fade-to-bottom">
                    <div class="solution-icon">
                        <img src="~/images/icons/reservation.svg" alt="Pengelolaan Dokter" />
                    </div>
                    <div class="solution-text-card">
                        <span class="text-sm font-medium lang" key="solution-card.4.subtitle">Penjadwalan Dokter</span>
                    </div>
                </div>

                <div class="solution-card solution-card-bl fade-to-top">
                    <div class="solution-icon">
                        <img src="~/images/icons/opname.svg" alt="Rawat Inap" />
                    </div>
                    <div class="solution-text-card">
                        <span class="text-sm font-medium lang" key="solution-card.5.subtitle">Rawat Inap</span>
                    </div>
                </div>

                <div class="solution-card solution-card-wh fade-to-bottom">
                    <div class="solution-icon">
                        <img src="~/images/icons/medicine.svg" alt="Database Barang & Obat" />
                    </div>
                    <div class="solution-text-card">
                        <span class="text-sm font-medium lang" key="solution-card.6.subtitle">Database Barang & Obat</span>
                    </div>
                </div>

                <div class="solution-card solution-card-bl fade-to-top">
                    <div class="solution-icon">
                        <img src="~/images/icons/letter.svg" alt="Surat Rujukan Pasien" />
                    </div>
                    <div class="solution-text-card">
                        <span class="text-sm font-medium lang" key="solution-card.7.subtitle">Surat Rujukan Pasien</span>
                    </div>
                </div>

                <div class="solution-card solution-card-wh fade-to-bottom">
                    <div class="solution-icon">
                        <img src="~/images/icons/cashier.svg" alt="Kasir Digital" />
                    </div>
                    <div class="solution-text-card">
                        <span class="text-sm font-medium lang" key="solution-card.8.subtitle">Kasir Digital</span>
                    </div>
                </div>

                <div class="solution-card solution-card-bl fade-to-top">
                    <div class="solution-icon">
                        <img src="~/images/icons/dashboard.svg" alt="Dashboard Laporan Digital" />
                    </div>
                    <div class="solution-text-card">
                        <span class="text-sm font-medium lang" key="solution-card.9.subtitle">Dashboard Laporan Digital</span>
                    </div>
                </div>

                <div class="solution-card solution-card-wh fade-to-bottom">
                    <div class="solution-icon">
                        <img src="~/images/icons/import.svg" alt="Import & Export Data Otomatis" />
                    </div>
                    <div class="solution-text-card">
                        <span class="text-sm font-medium lang" key="solution-card.10.subtitle">Import & Export Data Otomatis</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- register -->
<section class="container mx-auto md:px-20 px-10 mb-[133px] fade-to-bottom">
    <div class="flex-1 z-[1] lg:pr-5 text-center fade-to-right">
        <h1 class="text-primary text-center md:text-[40px] xl:text-[60px] text-[30px] font-bold lang" key="attraction">
            Mulai dari 200 ribu <br />Klinik Hewan Anda Sudah Siap Digital
        </h1>
        <div class="items-center mt-[30px]">
            <a href="https://wa.link/firynv" class="btn bg-primary text-white min-w-[250px] text-center uppercase lang" key="register.button">Register Now</a>
        </div>
    </div>
</section>

<!-- WhatsApp Floating Button -->
<a href="https://wa.link/firynv" class="floating-button" target="_blank" rel="noopener noreferrer">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp Logo">
    <span class="lang" key="floating.btn.message">Hello, we are <br />ready to help you</span>
</a>

@Html.Partial("_FooterPartial")

@section Scripts {
    <script>
        function playVideo() {
            var iframe = document.getElementById("driveVideo");
            var src = iframe.src;
            iframe.src = "";  // Clear the src
            iframe.src = src; // Reassign the same src to reload the iframe and start the video
        }
        // Function to open the popup
        function openPopup() {
            const iframe = document.getElementById("driveVideo").querySelector("iframe");
            iframe.src = "https://drive.google.com/file/d/1U4i8R6N4IvMXCwAx-5w2orALiKyZdL7F/preview"; // Set src to load video
            document.getElementById('popupModal').style.display = 'flex';
        }

        // Function to close the popup and stop the video
        function closePopup() {
            const iframe = document.getElementById("driveVideo").querySelector("iframe");
            iframe.src = ""; // Clear src to stop video
            document.getElementById('popupModal').style.display = 'none';
        }

        // Close the popup if clicking outside the content
        window.onclick = function(event) {
            const modal = document.getElementById('popupModal');
            if (event.target == modal) {
                closePopup();
            }
        }
    </script>
}
